form .mb-3 .form-control{

    max-width: 500px;
}
form .mb-3{
    padding-left: 20px;
}

.navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-link:hover{
    cursor: pointer;
 background: #a1a29d;
 border-color: blue;

  }
  form .btn-secondary{
    padding-left: 20px;
    max-width: 600px;
  }
  .dropdown:hover .dropdown-menu {
    background-color: #a1a29d;
    
    display: block !important;
  }

 