.bg-body-secondary .container-fluid{
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: #e8f2f3;
  position:fixed;
 top: 0;
  cursor: default;
}



.mb-3{

    
    max-width: 600px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-link:hover{
    cursor: pointer;
 background: #a1a29d;
 border-color: blue;

  }
  .dropdown:hover .dropdown-menu {
    background-color: #a1a29d;
    
    display: block !important;
  }
 